
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #222;
  color: white;
  text-align: center;
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.start-button {
  margin-top: 50vh;
  padding: 20px 40px;
  font-size: 24px;
}
#board {
  margin: auto;
  width: 480px;
  height: 480px;
  background-color: beige;
}
